body{
    background-color: aqua;
    
    
}

h3{
    color: rgba(0, 255, 89, 0.954);
    background:black;
    text-align: center;
    
}
table {
    background-color: greenyellow;
    border:5px solid black;
    padding: 20px;
    width: 45%;
}
.btn{
    cursor: pointer;
}
.error{
    color: red;
}
